<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Heading 1</h1>
<!-- /wp:heading -->

<!-- wp:heading {"level":2} -->
<h2 class="wp-block-heading">Heading 2</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis et
  nesciunt nisi fugiat odio optio? Maiores esse quibusdam magni velit!
</p>
<!-- /wp:paragraph -->

<!-- wp:button -->
<div class="wp-block-button">
  <a class="wp-block-button__link wp-element-button"> Go Home</a>
</div>
<!-- /wp:button -->

<!-- wp:query {"queryId": 0, "query": {"postType": "post", "orderBy": "date", "order": "desc"}} -->
<!-- wp:post-title /-->
<!-- wp:post-excerpt /-->
<!-- wp:group {"tagName": "div", "layout": {"type": "flex", "flexWrap": "nowrap"}} -->
<div class="wp-block-group">
  <!-- wp:paragraph -->
  <p>
    By
    <!-- wp:post-author-name /-->
  </p>
  <!-- /wp:paragraph -->
  <!-- wp:post-date /-->
</div>
<!-- /wp:group -->
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer"} /-->
