<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Clowns</h1>
<!-- /wp:heading -->

<!-- wp:image -->
<figure class="wp-block-image">
	<img src="https://picsum.photos/1300/300" alt="Clown Hero" />
</figure>
<!-- /wp:image -->

<!-- wp:group {"layout": {"type": "grid", "columnCount": 2}} -->
<div class="wp-block-group">
	<!-- wp:post-featured-image {"width": "auto"} /-->

	<!-- wp:group -->
	<div class="wp-block-group">
		<!-- wp:heading {"level":4} -->
		<h4 class="wp-block-heading">Clown</h4>
		<!-- /wp:heading -->
		<!-- wp:post-title /-->
		<!-- wp:post-date /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:post-content /-->
