<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:post-title {"level": 1} /-->

<!-- wp:group {"layout": {"type": "flex", "flexWrap": "nowrap"}} -->
<div class="wp-block-group">
	<!-- wp:post-author-name /-->
	<!-- wp:post-date /-->
</div>
<!-- /wp:group -->

<!-- wp:post-featured-image /-->

<!-- wp:post-content /-->

<!-- wp:comments -->
<div class="wp-block-comments">
	<!-- wp:comments-title /-->

	<!-- wp:comment-template -->

	<!-- wp:avatar /-->
	<!-- wp:comment-author-name /-->

	<!-- wp:comment-content /-->

	<!-- wp:comment-date /-->

	<!-- wp:comment-reply-link /-->

	<!-- /wp:comment-template -->

	<!-- wp:comments-pagination -->
	<!-- wp:comments-pagination-previous /-->

	<!-- wp:comments-pagination-numbers /-->

	<!-- wp:comments-pagination-next /-->
	<!-- /wp:comments-pagination -->

	<!-- wp:post-comments-form /-->
</div>
<!-- /wp:comments -->
